body {
	margin:0;
}
.nav {
  border: 2px solid black;
  margin: 0;
}

.nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo {
  height: 50px;
  width: 100px;
  vertical-align: middle;
}

.nav__searchbar {
  width: 70%;
  margin-right: 0;
  padding-right: 0;
}

.nav__searchbar input {
  width: 100%;
  border: 1px solid black;
  height: 30px;
}

.nav__searchbar-button {
  margin: 0;
  padding: 0;
  padding-left: 0px;
  margin-left: 0px;
}

.nav__searchbar-button input {
  background: url('icons8-search-50.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  vertical-align: middle;
  border: 1px solid black;
  height: 22px;
  width: 22px;
  margin-left: 2px;
  cursor: pointer;
}

.icons {
  height: 30px;
  width: 30px;
  vertical-align: middle;
  margin: 5px;
}

.avatar {
  border-radius: 50%;
}

.main {
  margin: 20px 20px;
  border: 1px solid black;
}

.col-2-3 {
  border: 1px solid black;
  position:absolute;
  width: 50%;
}

.col-2-1 {
  border: 1px solid black;
  position: absolute;
  right: 0;
  width: 40%;
  
}

.col-2-1 p {
	text-align: center;
}
.related {
	list-style: none;
	padding: 0;
	
	
}

.related img {
	height: 80px;
	width: 80px;
}

.related li {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
.related a {
	display: inline-block;
	
}

.related h3,
.related h4 {
	display: inline-block;
	margin: 0;
	position: relative;
	bottom: 50px;
	font-weight: 100;
	color: black;
	font-size: 15px;
	margin-left: 10px;
	
}


