

.nav {
	border: 2px solid black;
	margin: 0;
}

.nav li {
    display: inline-block;
    margin: 0;
    padding:0;

    

}

.logo {
	height:50px;
	width:100px;
	vertical-align: middle;
}

.nav__searchbar {
	border: 2px solid black;
	width: 70%;
	margin-right: 0;
	padding-right: 0;
}

.nav__searchbar input {
	width:100%;
}

.nav__searchbar-button{
	vertical-align: middle;
	margin:0;
	padding: 0;
}